<!DOCTYPE html>
<html>
<head>
  <title>Error Message</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f8f8;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .error-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .error-message {
      text-align: center;
    }

    h1 {
      font-size: 24px;
      color: #FF0000;
    }
  </style>
</head>
<body>
  <div class="error-container">
    <div class="error-message">
        <% if (errorCode && errorMessage) { %>
            <h1 class="alert alert-danger">Error <%= errorCode %>: <%= errorMessage %></h1>
          <% } %>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
