.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
select {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button[type="submit"] {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

.error {
    color: red;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Regras de mídia */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
        border-radius: 5px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="number"],
    select {
        font-size: 16px;
        padding: 8px;
        margin-bottom: 10px;
    }

    button[type="submit"] {
        font-size: 16px;
        padding: 8px 16px;
    }

    .error {
        font-size: 14px;
        margin-bottom: 5px;
    }
}
